h1 {
  font-size: 48px;

  font-weight: bold;
}
body {
  background-color: black;
}
.cta-button {
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(90deg, #ff7e5f, #feb47b, #86e3ce, #009ffd);
  background-size: 400% 400%;
  color: #fff;
  transition: background-position 0.5s, transform 0.3s;
}

.cta-button:hover {
  background-position: 100% 0;
  transform: scale(1.05);
}
